.DS_Store

not_included_in_repo/*

README.taskpaper

.Rproj.user

ArcDyn_tutorial_20190126/*

5_idxstats_tabulate/.Rproj.user/*

5_idxstats_tabulate/.Rhistory
7_ecological_analysis/Rdata/.Rhistory
7_ecological_analysis/Rdata/.Rhistory
7_ecological_analysis/Rdata/.Rhistory
