.DS_Store

not_included_in_repo/*

README.taskpaper

.Rproj.user

ArcDyn_tutorial_20190126/*

5_idxstats_tabulate/.Rproj.user/*
5_idxstats_tabulate/.Rhistory
7_ecological_analysis/Rdata/.Rhistory
7_ecological_analysis/.Rhistory
7_ecological_analysis/.Rhistory
5_idxstats_tabulate/.Rproj.user/shared/notebooks/paths
5_idxstats_tabulate/.Rproj.user/shared/notebooks/F72D7CD5-1_idxstats_tabulate_macOS_PlatesA2B2/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/F72D7CD5-1_idxstats_tabulate_macOS_PlatesA2B2/1/5543A3FC129C231/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/F72D7CD5-1_idxstats_tabulate_macOS_PlatesA2B2/1/5543A3FBE8C4976/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/F72D7CD5-1_idxstats_tabulate_macOS_PlatesA2B2/1/5543A3F1845BB28/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/D2287C57-5_merge_idx_meta_genomecov/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/D2287C57-5_merge_idx_meta_genomecov/1/5543A3FB0436C8C/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/CFCBF248-2_idxstats_tabulate_macOS_PlatesAB/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/CFCBF248-2_idxstats_tabulate_macOS_PlatesAB/1/5543A3FC129C231/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/B6DF0EAE-7_datafiles_for_ArcDyn_methods/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/B6DF0EAE-7_datafiles_for_ArcDyn_methods/1/5543A3FC93D7AC5/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/B6DF0EAE-7_datafiles_for_ArcDyn_methods/1/5543A3FB0436C8C/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/B6DF0EAE-7_datafiles_for_ArcDyn_methods/1/5543A3F7B6A6690/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/B6DF0EAE-7_datafiles_for_ArcDyn_methods/1/5543A3F72EDCD4A/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/B6DF0EAE-7_datafiles_for_ArcDyn_methods/1/5543A3F24DE4122/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/B6DF0EAE-7_datafiles_for_ArcDyn_methods/1/5543A3F23D41065/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/98A717-4_idxstats_tabulate_macOS_PlatesGH/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/98A717-4_idxstats_tabulate_macOS_PlatesGH/1/5543A3F7F512B36/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/3B9671E9-3_idxstats_tabulate_macOS_PlatesEF/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/3B9671E9-3_idxstats_tabulate_macOS_PlatesEF/1/5543A3F7F512B36/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/3B9671E9-3_idxstats_tabulate_macOS_PlatesEF/1/5543A3F1845BB28/chunks.json
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/INDEX
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/A2B94D3D
5_idxstats_tabulate/.Rproj.user/5543A3F/pcs/workbench-pane.pper
5_idxstats_tabulate/.Rproj.user/5543A3F/pcs/windowlayoutstate.pper
5_idxstats_tabulate/.Rproj.user/5543A3F/pcs/source-window.pper
5_idxstats_tabulate/.Rproj.user/5543A3F/pcs/source-pane.pper
5_idxstats_tabulate/.Rproj.user/5543A3F/pcs/packages-pane.pper
5_idxstats_tabulate/.Rproj.user/5543A3F/pcs/files-pane.pper
5_idxstats_tabulate/.Rproj.user/5543A3F/pcs/debug-breakpoints.pper
