.DS_Store

not_included_in_repo/*

README.taskpaper

.Rproj.user

5_idxstats_tabulate/.Rproj.user

ArcDyn_tutorial_20190126/*
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/653F3247
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/8FE568B0
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/A2B94D3D
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/D032FD2C
5_idxstats_tabulate/.Rproj.user/shared/notebooks/8456879-R_command_history/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/F72D7CD5-1_idxstats_tabulate_macOS_PlatesA2B2/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/653F3247
5_idxstats_tabulate/.Rhistory
5_idxstats_tabulate/.Rproj.user/5543A3F/pcs/files-pane.pper
5_idxstats_tabulate/.Rproj.user/shared/notebooks/3B9671E9-3_idxstats_tabulate_macOS_PlatesEF/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/8456879-R_command_history/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/98A717-4_idxstats_tabulate_macOS_PlatesGH/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/CFCBF248-2_idxstats_tabulate_macOS_PlatesAB/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/shared/notebooks/F72D7CD5-1_idxstats_tabulate_macOS_PlatesA2B2/1/s/chunks.json
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/F99F0086
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/DC3FAF6C
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/D032FD2C
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/A2B94D3D
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/8FE568B0
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/653F3247
5_idxstats_tabulate/.Rproj.user/5543A3F/sources/prop/34E52B46
